
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.form-info{
  margin-top: 30px;

  label{
    display: block;
  }
}

.submit-button{
  margin-top: 25px;
}

.contact-info{
  border-bottom: 1px solid black;
  padding: 5px;
}

.contactInfo{
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.delete-contact{
  margin-top: 20px;
}

.contact-group{
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;

  span{
    padding-right: 10px;
    font-weight: bold;
  }

  li{
    list-style: none;
  }
}
