
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.form-input {
  background-color: #000;
}

.form-control-wrapper {
  text-align: right;
  padding: 20px 10px;
}

#contact-form {
  display: none;
}

#contact-form h1 {
  color: #FFF;
}

.form-info{
  margin-top: 30px;

  label{
    display: block;
  }
}

.submit-button{
  margin-top: 25px;
}

.contactInfo {
  border-bottom: 1px dotted black;
  padding: 20px;
}

.delete-contact{
  margin-top: 20px;
}

.contact-group{
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;

  span{
    padding-right: 10px;
    font-weight: bold;
  }

  li{
    list-style: none;
  }
}

// .update-contact {
//   display: none;
// }

.btn-success {
  margin-top: 15px;
}