<h1>Manage Contact</h1>
  <div class="contact-name contact-info">
  <span>Name:</span><span>{{name}}</span>
  </div>
    <div class="contact-number contact-info">
      <span>Number:</span><span>{{phonenumber}}</span>
    </div>
      <div class="contact-email contact-info">
        <span>Email:</span><span>{{email}}</span>
      </div>
        <div class="contact-linkedin contact-info">
          <span>Linkedin:</span><span>{{linkedin}}</span>
        </div>
          <button class="btn btn-sm btn-danger delete-contact">Delete Contact</button>
