<h1>Enter Contact Information</h1>
  <div class="well form-group col-md-6">
    <div class="form-info">
    
      <label for="first-name">
        First Name
      </label>
      <input type="text" class="form-control" id="first-name" name="first-name" placeholder="ENTER FIRST NAME" />
       
      <label for="last-name">
        Last Name
      </label>
      <input type="text" class="form-control" id="last-name" name="last-name" placeholder="ENTER LAST NAME" /> 
       
      <label for="c-number">
        Number
      </label>
      <input type="text" class="form-control" id="c-number" name="c-number" placeholder="ENTER CONTACT NUMBER" />
       
      <label for="email">
        Email
      </label>
      <input type="text" class="form-control" id="email" name="email" placeholder="ENTER CONTACT EMAIL" />
        
        <label for="linkedin">
          Linkedin Username
        </label>
        <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="ENTER LINKEDIN USERNAME" />
      </div>
        <input class="btn btn-success save-contact" type="submit" name="submit" value="Save Contact" />
  </div>
