<h1>Enter Contact Information</h1>
  <div class="form-group col-md-6">
    <label for="contactName">
      Contact Name
    </label>
    <input type="text" class="form-control" id="contactName" name="contactName" placeholder="ENTER NEW CONTACT NAME" />
      <div class="form-info">
        <label for="number">
          Number
        </label>
        <input type="text" class="form-control" id="number" name="number" placeholder="ENTER CONTACT NUMBER" />
        <label for="email">
          Email
        </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="ENTER CONTACT EMAIL" />
        <label for="linkedin">
          Linkedin Username
        </label>
        <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="ENTER LINKEDIN USERNAME" />
      </div>
        <input class="submit-button" type="submit" name="submit" value="Add Contact" />
  </div>
